.images {
   width: 459px; height: 194px;
   background: url('dede(1).png') -200px -0px;
}
.new-twitter-logo {
   width: 715px; height: 355px;
   background: url('dede(1).png') -659px -0px;
}
. {
   width: 712px; height: 512px;
   background: url('dede(1).png') -1374px -0px;
}
. {
   width: 712px; height: 512px;
   background: url('dede(1).png') -2086px -0px;
}
. {
   width: 505px; height: 314px;
   background: url('dede(1).png') -2798px -0px;
}
. {
   width: 600px; height: 265px;
   background: url('dede(1).png') -3303px -0px;
}
. {
   width: 712px; height: 512px;
   background: url('dede(1).png') -3903px -0px;
}
. {
   width: 1094px; height: 894px;
   background: url('dede(1).png') -4615px -0px;
}
