.Mario {
   width: 512px; height: 512px;
   background: url('dede.png') -0px -0px;
}
.chrome {
   width: 512px; height: 512px;
   background: url('dede.png') -512px -0px;
}
.img2 {
   width: 305px; height: 314px;
   background: url('dede.png') -1024px -0px;
}
.Banana {
   width: 400px; height: 265px;
   background: url('dede.png') -1329px -0px;
}
.Facebook {
   width: 512px; height: 512px;
   background: url('dede.png') -1729px -0px;
}
.eye {
   width: 894px; height: 894px;
   background: url('dede.png') -2241px -0px;
}
